:root{
    /* color palette  */
    --dark-gray: rgb(35, 41, 49);
    --gray: rgb(57, 62, 70);
    --teal: rgb(78, 204, 163);
    --white: rgb(238, 238, 238);
}

body{
    margin: 0;
    background-color: var(--dark-gray);
    color: var(--white);
    font-family: 'Poppins', sans-serif;
}

#content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-size: 48px;
}


#todo{
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.32); */
    filter: drop-shadow(0px 0px 5px rgba(0,0,0,0.25));
}

#todo button{
    background-color: var(--teal);
    color: var(--dark-gray);
    cursor: pointer;
    height: 52px;
    width: 52px;
    padding: 0;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 28px; /* todo: change plus icon to svg */
}

#todoInput{
    background-color: var(--gray);
    color: var(--white);
    font-size: 16px;
    padding-left: 5px;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 500px;
    height: 50px;
}

#todoInput:focus{
    outline: 1px solid var(--teal);
    height: 48px;
}