:root{
    /* color palette  */
    --dark-gray: rgb(35, 41, 49);
    --gray: rgb(57, 62, 70);
    --teal: rgb(78, 204, 163);
    --white: rgb(238, 238, 238);
}

.hidden{
    display:  none;
}

body{
    margin: 0;
    background-color: var(--dark-gray);
    color: var(--white);
    font-family: 'Poppins', sans-serif;
}

#content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-size: 48px;
}

button:hover{
    cursor: pointer;
}


#todo{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.32); */
    filter: drop-shadow(0px 0px 5px rgba(0,0,0,0.25));
    background-color: var(--gray);
    border-radius: 10px;
}

#todo *{
    background-color: transparent;
    border: none;
}

#todo *:focus{
    outline: none;
}

#todo button{
    position: absolute;
    bottom: 0;
    right: 0;
    color: var(--dark-gray);
    background-color: var(--teal);
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0;
    height: 30px;
    width: 30px;
}

#todo form{
    display: flex;
    flex-direction: column;
    width: 500px;
}

#todo:focus{
    outline: 1px solid var(--teal);
}

#todo input{
    padding: 10px;
    font-size: 16px;
    color: var(--white);
    border-bottom: 1px solid var(--dark-gray);
}

#todo textarea{
    position: relative;
    resize: none;
    padding: 10px;
    font-size: 16px;
    color: var(--white);
    height: 75px;
}

#todo textarea::placeholder{
    position: absolute;
    top: 10px;
    left: 10px;
}

#requiredText{
    position: absolute;
    bottom: -30px;
    font-size: 12px;
}

/* LIST ITEMS */

#list{
    padding: 50px 50px 0 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container{
    position: relative;
    max-width: 500px;
    min-width: 100px;
    height: fit-content;
    background-color: var(--gray);
    padding: 20px;
    padding-bottom: 30px !important;
    margin: 10px;
    border-radius: 10px;
}

h2{
    margin-top: 0;
    overflow-wrap: break-word;
    /* cursor: default; */
}

#list span{
    overflow-wrap: break-word;
    /* cursor: default; */
}

.buttons{
    display: flex;
    gap: 5px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.buttons button{
    background-color: var(--teal);
    color: var(--dark-gray);
    border: none;
    height: 20px;
}

.buttons button:first-child{
    border-top-left-radius: 10px;
}

.buttons button:last-child{
    border-bottom-right-radius: 10px;
}

.buttons button:last-child:hover{
    background-color: #f24b4b;
}

[contenteditable]{
    outline: none;  
}

@media (max-width: 650px){
    #list{
        padding: 50px 0 0 0;
    }
}
@media (max-width: 600px){
    .container{
        max-width: 80vw;
    }
    #todo form{
        width: 80vw;
    }
}



@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('fonts/poppins-v20-latin-ext_latin-600.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('fonts/poppins-v20-latin-ext_latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/poppins-v20-latin-ext_latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/poppins-v20-latin-ext_latin-600.woff') format('woff'), /* Modern Browsers */
         url('fonts/poppins-v20-latin-ext_latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/poppins-v20-latin-ext_latin-600.svg#Poppins') format('svg'); /* Legacy iOS */
  }